// Specific CSS for your home-page
.home-card {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color:  black;
  opacity: 0.6;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  position: relative;
}

.home-card i {
  color: #E44F37;
  font-size: 50px;
  margin: 25px;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.home-cards h2 {
  font-weight: bold;
  font-size: 25px;
}

.home-cards p {
  font-weight: lighter;
  font-size: 18px;
}

.home-card-text {
  margin: 10px;
}


.tick-font {
  font-size: 25px;
}
