<h1>hello</h1>

<div class="cards mx-5">
  <% @castles.each do |castle| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path castle.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to castle.name.capitalize, castle_path(castle), :class => "card-link" %>
    </div>
  <% end %>
</div>

