<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "background-castle.png" %>')">
  <div class="container">
    <h1>The best place to find your bouncy castle</h1>
    <%= link_to "View all Castles", castles_path, class: "btn btn-outline-light rounded-pill btn-lg" %>
  </div>
</div>

<div class="cards mx-5">
  <% @castles.each do |castle| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2><%= castle.name.capitalize %></h2>
      <%= link_to "", castle_path(castle), class: "card-link" %>
    </div>
  <% end %>
</div>


