<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/dAt6MVfS1_w);">
  <div class="container">
    <h1>The best place to find your bouncy castle</h1>
    <%= link_to "View all Castle", castles_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="cards mx-5">
  <% @castles.each do |castle| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= castle.name %>
    </div>
  <% end %>
</div>



