.banner {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  text-align: center;
  border-radius: 5px;
}

.banner h1 {
  margin: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-size {
  width: 500px;
  height: 500px;
}

.home-title {
  font-size: 45px;
}

.home-description {
  font-size: 25px;
}

.home-color {
  color: #E44F37;
}

.banner-imager {
  border-radius: 50%;
}
