.btn-outline-light {
  color: white;
  border: 1px solid #FF6045;
  background-color:rgba(255, 96, 69,.8);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-outline-light:hover {
  opacity: 1;
  color: white;
  border: 1px solid #FF6045;
  text-decoration: none;
  background-color: #FF6045;
}

.btn-outline-light:active {
  opacity: 1;
  color: white;
  border: 1px solid #FF6045;
  background-color: #FF6045;
}

.btn {
  color: white;

}

.btn:hover {
  color: white;
}

.btn:active {
  color: white;
}

.form-actions {
  float:right;
}
