//////CARD CATEGORY///////

.map_container  {
  display: flex;

}
.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  position: relative;
}

.card-category:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 1px 1px 5px rgba(0, 0, 0,.3), 1px 1px 5px rgba(0, 0, 0,.3);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 50px;
}

.card-link {
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  color: white;
}
//////CARD PRODUCT/////

.card-container-index  {
  display: inline-block;
  grid-template-columns: 2fr 1fr;
  border-radius: 25px;
}

.card-product {
  overflow: hidden;
  height: 170px;
  width: 55%;
  background: white;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
  display: -webkit-inline-box;
  align-items: center;
  margin: 15px;
  border-style: none;
  border-radius: 25px;
}

.card-product img {
  height: 100%;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-style: none;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}
//////CARD TRIP///////

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 30px;
  margin:40px 20px 60px 20px;

}

.card-show {
  display: flex;
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 10px;
}

.card-show > img {
  height: 270px;
  width:60%;
  object-fit: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 30px;
  margin-right: 10%;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
