.footer {
  background-color: #E44F37;
  opacity: 0.7;
  padding: 50px;
  text-align: center;
  margin-bottom: 0;
}
.footer a {
  font-size: 32px;
  color:#e9ecef;
  padding: 10px;
}

.footer a:hover {
  color: rgba(255, 96, 69,.8);
  text-shadow: 0 0 2px rgba(255, 96, 69,.8);
}


.footer-copyright {
  color: #e9ecef;
  &:hover {
    text-shadow: 0 0 2px rgba(204, 224, 247,.4)
  }
}

.fa-heart:before {
    content: "\f004";
    font-size: 30px;
}
