.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
}


.main-container-index {
 display: flex;
 flex-direction: column;
}

.title-container-index {
  height: 60px;

}

.map-container-index {
  position: sticky;
}

.cards-container-index {
  display: flex;
  grid-template-rows: 80px auto 80px;
  justify-content: space-around;
  grid-template-columns: 100px 50px 100px;
  column-gap: 10px;
  row-gap: 15px;
}

.card-category {

}

.card-index {
  width: 60px;
  height: 30%;
  margin: 10px;
}
