.navbar-lewagon {
  justify-content: space-between;
  background: #f8f9fa;
  opacity:.9;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  height: 40px;
  align-items: center;

}
